@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Reset básico */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/*-----------------------main_wrapper--------------------------------*/
.main_wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Altura completa de la ventana */
    overflow: hidden;
    /* Asegura que el video no se desborde */
}

.main_wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* El video cubre toda la pantalla sin deformarse */
    z-index: -1;
    /* Colocamos el video detrás del contenido */
}

/* Capa oscura sobre el video */
.main_wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Capa semitransparente oscura */
    z-index: 0;
    /* Aseguramos que esté sobre el video pero debajo del contenido */
}

/*-----------------------header--------------------------------*/
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

header div {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 0 0 50px;
}

header div img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

h1 {
    font-size: 60px;
    text-transform: uppercase;
}

h2 {
    font-size: 26px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    padding-right: 80px;
}

header nav ul li {
    font-size: 20px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;

}

header nav ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.main_wrapper .contenido {
    font-family: "Poppins", sans-serif;
    position: absolute;
    /* Asegura que el contenido se posicione sobre el video */
    top: 50%;
    /* Lo coloca verticalmente al centro */
    left: 50%;
    /* Lo coloca horizontalmente al centro */
    transform: translate(-50%, -50%);
    /* Ajusta para que esté perfectamente centrado */
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    z-index: 1;
    /* Asegura que el texto esté por encima del video y capa oscura */
    max-width: 90%;
    /* Limita el ancho para evitar que el texto se desborde */
}


/*---------------------contenido--------------------------*/


body {
    background-color: #ffffff;
}


/*----------------------sobre_ods--------------------------------*/

.sobre_ods {
    margin: 100px 0;

}

.titulos {
    font-size: 70px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding-bottom: 100px;
}

.sobre_ods div {
    display: flex;
    justify-content: center;
    max-width: 70%;
}

.sobre_ods img {
    width: 35%;
}

.conteiner_ods {
    margin-left: 12%;

}

.conteiner_ods_p {
    display: flex;
    flex-direction: column;
    padding: 0 0 10% 10%;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    text-align: justify;
}



/*---------------------datasets------------------------------*/

.dataset_section {
    margin-bottom: 200px;
}

.timeline-section {
    text-align: center;
    padding: 60px 20px;
}

.timeline-section h2 {
    font-size: 2rem;
    margin-bottom: 10px;

}

.timeline-section p {
    color: #666;
    margin-bottom: 50px;
    font-family: "Roboto", sans-serif;
}

.timeline-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.timeline-line {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #ddd;
    transform: translateX(-50%);
}

.timeline-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
    position: relative;
}

.timeline-dot {
    width: 16px;
    height: 16px;
    background: #ccc;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.timeline-card {
    background: white;
    padding: 20px;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    text-align: left;
}

.timeline-card p{
    font-family: "Roboto", sans-serif;
}

.timeline-card a{
    color: #26bde2;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.timeline-card h3 {
    margin-top: 0;
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
}

.left .timeline-card {
    margin-right: auto;
}

.right .timeline-card {
    margin-left: auto;
}

@media screen and (max-width: 768px) {
    .timeline-item {
        flex-direction: column;
    }

    .timeline-card {
        width: 80%;
        margin: 20px auto 0;
    }

    .timeline-line {
        left: 50%;
    }

    .timeline-dot {
        left: 50%;
    }
}




/*-------------------------------------*/

.container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.box {
    box-shadow: 0 4px 50px #00000031; 
    padding: 40px;
    border-radius: 10px;
    width: 30%;
    background: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center; /* centra verticalmente */
    align-items: center;     /* centra horizontalmente */
    text-align: center;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.box p {
    margin: 0;
    color: #333;
    line-height: 1.5;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
   
 
}


/*---------------------------------------------------*/

.div_problema {
    background-color: #666;
    margin: 200px 0;
}

.div_problema div {
    display: flex;
    justify-content: center;
}

.titulo_analisis {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding-bottom: 100px;
    max-width: 1000px;
}



/*----------------conclucion----------------------------*/

.conclucion_section {
    position: relative;
    background-image: url('../images/h.jpg'); /* Cambia la URL si quieres */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 100px;
    text-align: center;
    padding: 100px; /* Igual por todos lados para equilibrio visual */
    color: white;
    overflow: hidden;
}

.conclucion_section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* capa oscura */
    backdrop-filter: blur(4px);
    z-index: 1;
}

.conclucion_section .titulos,
.conclucion_section .text_conclucion {
    position: relative;
    z-index: 2; /* encima de la capa oscura */
}

.text_conclucion {
    padding-bottom: 50px;
    line-height: 1.6;
    letter-spacing: 1px;
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}